* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat";
    font-size: 10px;
    background: var(--light-color);
    --light-color: #fffbf0;
    --dark-color: #121212;
    --accent-blue: #1f77dc;
    --accent-pink: #b848ac;
    --input-bg-blue: #3e6190;
    --input-bg-pink: #e7d0e4;
}

header {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 700;
    padding: 0 2rem;
    border-bottom: black solid 2px;
    background: var(--light-color);
    color:var(--dark-color);
}

main {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    background: var(--dark-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "factorial fizzbuzz";
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow-y: auto;
}

.factorial {
    grid-area: factorial;
    border-right: black solid 2px;
    background: var(--dark-color);
}

.fizzbuzz {
    grid-area: fizzbuzz;
    background: var(--light-color);
}

form {
    width: clamp(15rem, 35vw, 40rem);
    height: clamp(20rem, 40vh, 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    overflow-y: auto;
}

h1 {
    margin: 2rem 0 1rem;
    font-size: clamp(2.5rem, 4vw, 3rem);
    line-height: 4rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

input {
    height: 4rem;
    width: 8rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#form-one {
    border:var(--accent-blue) solid 1px;
    box-shadow: -4px 8px var(--accent-blue);
}

#form-one h1 {
    color: var(--light-color);
}

#form-one .input-wrapper label {
    color: var(--light-color);
}

#form-one .input-wrapper input {
    color: var(--light-color);
    border: var(--accent-blue) solid 1px;
    background: var(--input-bg-blue);
}

#form-one output {
    margin-top: 2rem;
    padding: .8rem;
    height: 4rem;
    min-width: 8rem;
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--light-color);
    border: var(--accent-blue) solid 1px;
    /* background: var(--input-bg-blue); */
    cursor: default;
}

#form-two {
    border:var(--accent-pink) solid 1px;
    box-shadow: -4px 8px var(--accent-pink);
}

#form-two .input-wrapper input {
    border: var(--accent-pink) solid 1px;
    background:var(--input-bg-pink);
}

#form-two p {
    margin: 4rem auto 3rem;
    font-size: clamp(1rem, 3vw, 1.6rem);
    line-height: 2.5rem;
}

@media(max-width: 889px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .container {
        min-width: 100%;
        min-height: 50%;
    }

    form {
        min-width: 30rem;
        min-height: 25rem;
    }

    #form-two p {
        margin: 2rem auto 1rem;
    }
}