* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat";
    font-size: 10px;
    --primary-color: #1C6D7D;
    --accent-color: #FF8126;
    --bg-light: #abb8c3;
    --bg-dark: #263133;
}

header {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 700;
    padding: 0 2rem;
    border-bottom: black solid 2px;
    background: #fffbf0;
    color: #191919;
}

main {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    background: var(--bg-dark);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "factorial fizzbuzz";
}

.container {
    /* min-width: 100%; */
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow-y: auto;
}

.factorial {
    grid-area: factorial;
    border-right: black solid 2px;
    background: #121212;
}

.fizzbuzz {
    grid-area: fizzbuzz;
    background: #fffbf0;
}

p {
    font-weight: 300;
    color: var(--primary-color);
}

form {
    width: clamp(15rem, 35vw, 40rem);
    height: clamp(15rem, 40vh, 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    border: black solid 1px;
}

#form-one {
    box-shadow: -4px 8px #1f77dc;
    border: #fffbf0 solid 1px;
    > h1 {
        color: #fffbf0;
    }
}

#form-two {
    box-shadow: -4px 8px #b848ac;
}

h1 {
    margin: 1rem;
    font-size: 3.2rem;
    line-height: 4rem;
    color: black;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.6rem;
    color: black;
    margin-bottom: .5rem;
}

input {
    height: 3rem;
    border: lightgray .5px solid;
    border-radius: .4rem;
}

.factorial-result-msg {
    display: none;
    margin: 1rem;
    color: var(--accent-color);
    font-weight: 700;
}

@media(max-width: 889px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .container {
        min-width: 100%;
        min-height: 50%;
    }

    .factorial {
        border-right: none;
        border-bottom: black solid 2px;
    }

    form {
        min-width: 30rem;
        min-height: 25rem;
    }
}